<!DOCTYPE html>
<html>
<head>
  <title>Population</title>
</head>
<body>
 

<h1>Population by Country</h1>
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th {
  background-color: #08f7f7c2;
  cursor: pointer;
}
tr:hover {background-color: #D6EEEE;}
    </style>
    <p><a href="/"><button>HOME</button><a href="/Country"><button>NEXT</button></a></p>
    
<table id="myTable" width="100%" >
    <tr>
        <th>ID</th>
        <th onclick="sortTable(0)">Name</th> 
        <th>Contry Code</th> 
        <th>District</th> 
        <th>Population</th> 
    </tr>
    
    <% if (city.length > 0 ) { %>
        <% for (var i =0; i < 10; i++) { %>
            <tr>
                <td> <%- city[i].ID %></td>
                <td> <a href="https://en.wikipedia.org/wiki/<%- city[i].Name %>"><%- city[i].Name %></a></td>
                <td> <%- city[i].CountryCode %></td>
                <td> <a href="https://en.wikipedia.org/wiki/<%- city[i].District %>"><%- city[i].District %></a></td>
                <td> <%- city[i].Population %></td>
            </tr>
        <% } %>

        <% } else {  %>
<h3 style="color: red;">Sorry No Result Found</h3>
            <% } %>

</table>
  
<script>
  function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("myTable");
    switching = true;
    //Set the sorting direction to ascending:
    dir = "asc"; 
    /*Make a loop that will continue until
    no switching has been done:*/
    while (switching) {
      //start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /*Loop through all table rows (except the
      first, which contains table headers):*/
      for (i = 1; i < (rows.length - 1); i++) {
        //start by saying there should be no switching:
        shouldSwitch = false;
        /*Get the two elements you want to compare,
        one from current row and one from the next:*/
        x = rows[i].getElementsByTagName("td")[n];
        y = rows[i + 1].getElementsByTagName("td")[n];
        /*check if the two rows should switch place,
        based on the direction, asc or desc:*/
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        /*If a switch has been marked, make the switch
        and mark that a switch has been done:*/
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        //Each time a switch is done, increase this count by 1:
        switchcount ++;      
      } else {
        /*If no switching has been done AND the direction is "asc",
        set the direction to "desc" and run the while loop again.*/
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
  </script>
</body>
</html>