<!DOCTYPE html>
<html>
<head>
  <title>Population</title>
</head>
<body>
 
<h1>Population by Country</h1>
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th {
  background-color: #08f7f7c2;
  cursor: pointer;
}
tr:hover {background-color: #D6EEEE;}
    </style>
    <p><a href="/"><button style="background-color: #1ef45e;">HOME</button>
      <a href="/Country"><button style="background-color: rgba(6, 248, 58, 0.884);">NEXT</button></a></p>
  
      <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
      <p><%- include('./search.html'); %></p>
<table width="100%" class="sortable" >
    <tr>
        <th>ID</th>
        <th>Name</th> 
        <th>Contry Code</th> 
        <th>District</th> 
        <th>Population</th> 
    </tr>
    
    <% if (city.length > 0 ) { %>
        <% for (var i =0; i < city.length; i++) { %>
            <tr>
                <td> <%- city[i].ID %></td>
                <td> <a href="https://en.wikipedia.org/wiki/<%- city[i].Name %>" target="_blank"><%- city[i].Name %></a></td>
                <td> <%- city[i].CountryCode %></td>
                <td> <a href="https://en.wikipedia.org/wiki/<%- city[i].District %>" target="_blank"><%- city[i].District %></a></td>
                <td> <%- city[i].Population %></td>
            </tr>
        <% } %>

        <% } else {  %>
<h3 style="color: red;">Sorry No Result Found</h3>
            <% } %>

</table>

</body>
</html>